tags/1.5.1/pykasu-web/WebRoot/style/css/BASEDECLARACIONES.XSD

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="declaracion" type="declaracionType"></xsd:element>
  <xsd:complexType name="declaracionType">
    <xsd:sequence maxOccurs="1">
      <xsd:element name="detalle" type="detalleType"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="formulario" use="required" type="xsd:integer"></xsd:attribute>
    <xsd:attribute name="version" use="required" type="xsd:integer"></xsd:attribute>
    <xsd:attribute name="fechaDocumento" use="required" type="xsd:date"></xsd:attribute>
    <xsd:attribute name="era" type="xsd:integer"></xsd:attribute>
    <xsd:attribute name="sucursalEra" type="xsd:integer"></xsd:attribute>
    <xsd:attribute name="usuario" use="required" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="formaPresentacion" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="cajero" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="consecutivo" type="xsd:integer"></xsd:attribute>
    <xsd:attribute name="archivoRecibido" type="xsd:integer"/>
    <xsd:attribute name="hashEra" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="detalleType">
    <xsd:all>
      <xsd:element name="C1" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="C2" type="xsd:double" minOccurs="0"></xsd:element>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"></xsd:element>
      <xsd:element name="C4" type="xsd:double" minOccurs="0"></xsd:element>
      <xsd:element name="C5" type="xsd:double" minOccurs="0"></xsd:element>
      <xsd:element name="C10" type="xsd:double" minOccurs="0"></xsd:element>
      <xsd:element name="ruc" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="dv" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="numeroDocumento" type="xsd:double" minOccurs="0"></xsd:element>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="primerApellido" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="segundoApellido" type="xsd:string" minOccurs="0"></xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>